<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" th:href="@{/app.css}">
    <title>home</title>
</head>
<body>
<h1>Ranndom Joke</h1>
<p> dsisjopkdposjcpososkpokpo nfdskj jkfsjkd dsisjopkdposjcpososkpokpo jjl   dsisjopkdposjcpososkpokpojij  dsisjopkdposjcpososkpokpoij nfjfj</p>
<img th:src="@{/gifs/compiler-bot.gif}" height="200" alt="gif logo" style="margin-right:200px" />
<div style="background-color:#00FF00"><h1>Chuck Norris cannot love, he can only not kill.</h1></div>

</body>
</html>